#label_question {
  /*...*/
}

.main_view_wrapper {
  background-color: #d9dadb;
  border-radius  : 15px;
  border-width   : 1px;
  border-color   : #929494;
  border-style   : solid;
  box-shadow: inset 1px 1px 3px #000, 1px 1px 0px #F2F2F2;
}

#answer_view {
  background-color: #999999;
}

#question_view {
  background-color: #d9dadb;
}

#back_to_question_btn {
  color            : #282828;
  background-color : linear-gradient(#f3f3f3, #aaaaaa);
}

#answer_btn {
  color            : #282828;
  background-color : linear-gradient(#f3f3f3, #aaaaaa);
}

#next_question_btn {
  color            : #282828;
  background-color : linear-gradient(#f3f3f3, #aaaaaa);
}
.btn {
  border-width     : 1px;
  border-color     : #929494;
  border-style     : solid;
  border-radius    : 10px;
  font-size        : 20px;
  font-family      : 'Verdana';
}

#main_view {
  background-image: url(interface/background.png);
}

#label_ruby_test {
  color: #000;
  text-align: center;
  font-size: 50px;
  /*font-family: 'Verdana';*/
}

#label_by {
  color: #000;
  text-align: center;
  font-size: 35px;
  font-family: 'Verdana';
  font-style: italic;
}

#button_setup {
  color: #4e729a;
  text-align: center;
  font-size: 16px;
  font-family: 'Verdana';
  font-style: italic;
}

#start_button {
/*
  color            : #f8f7f6;
  background-color : linear-gradient(#f1501d, #b71507);
*/
  color            : #282828;
  background-color : linear-gradient(#f3f3f3, #aaaaaa);
  border-width     : 1px;
  border-color     : #929494;
  border-style     : solid;
  border-radius    : 10px;
  font-size        : 20px;
  font-family      : 'Verdana';
}
