#app_wrapper {
  background-color: #d9dadb;
}

#answer_wrapper {
  background-color: #999999;
}

#interview_wrapper {
  background-color: #d0d0d0;
  border-radius: 15px;
  border-width: 1px;
  border-color: #929494;
  border-style: solid;
  box-shadow: inset 1px 1px 3px #000;
}

#transparent_separator {
  background-color: #d0d0d0;
}

#interview_task, #table_view_wrapper {
  background-color: transparent;
}

#colorized_separator {
  background-color: #929494;
}

.label {
  color: #000;
  font-size: 20px;
  text-align: center;
  font-family: 'Verdana';
  font-style: italic;
}

#label_ruby_test {
  font-size: 42px;
}

#label_by {
  font-size: 35px;
}

#label_table_title {
  font-style: normal;
}

.btn {
  color: #282828;
  background-color: linear-gradient(#f3f3f3, #aaaaaa);
  font-size: 20px;
  font-family: 'Verdana';
  border-width: 1px;
  border-color: #929494;
  border-style: solid;
  border-radius: 10px;
}

#button_setup {
  color: #4e729a;
  font-size: 16px;
}
